doctype html
html(lang='en', style="height:100%")
  head#common-app
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Test Page

  body(style="height:100%;margin:0")
    div#root(style="height:100%")

    script(src="#{assets.chunks.app.entry}")
